<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Tree</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
	<table>
		<tr><td><h1>{{.Name}}</h1></td></tr>
		<tr><td><span>{{.Description}}</span></td></tr>
		<tr><td>git clone <a href="{{.Url}}">{{.Url}}</a></td></tr>
		<tr>
			<td>
				<a href="/{{.Name}}/log">Log</a>
				| <a href="/{{.Name}}/tree">Tree</a>
				| <a href="/{{.Name}}/refs">Refs</a>
				{{if .HasReadme}}
					| <a href="">README</a>
				{{end}}
				{{if .HasLicence}}
					| <a href="">LICENCE</a>
				{{end}}
			</td>
		</tr>
	</table><hr>
	<table>
		<thead>
			<tr>
				<td><b>Name</b></td>
				<td><b>Size</b></td>
			</tr>
		</thead>
		<tbody>
		{{range .Files}}
			<tr>
				<td>{{.Name}}</a></td>
				<td>{{.Size}}</td>
			</tr>
		{{end}}
		</tbody>
	</table>
</body>
