<!DOCTYPE html>
<head lang="en-GB">{{template "base/head" .}}</head>
<body>
	<header>
		<table>
			<tr>
				<td rowspan="2">
					<a href="/"><img src="/static/favicon.png" style="max-height: 24px"></a>
				</td>
				<td><h1>{{.Title}}</h1></td>
			</tr>
			<tr><td>
				<a href="/admin/users">Users</a>
				| <a href="/admin/repos">Repositories</a>
				| <a href="/admin/user/create">Create User</a>
			</td></tr>
		</table>
	</header><hr>
	<main>
		<table class="highlight-row">
			<thead>
				<tr>
					<td><b>ID</b></td>
					<td><b>Owner</b></td>
					<td><b>Name</b></td>
					<td><b>Visibility</b></td>
					<td><b>Size</b></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			{{range .Repos}}
				<tr>
					<td>{{.Id}}</td>
					<td><a href="/?u={{.Owner}}">{{.Owner}}</a></td>
					<td><a href="/{{.Name}}">{{.Name}}</a></td>
					<td>{{.Visibility}}</td>
					<td>{{.Size}}</td>
					<td><a href="/admin/repo/edit?repo={{.Id}}">edit</a></td>
				</tr>
			{{end}}
			</tbody>
		</table>
	</main>
</body>
