<!DOCTYPE html>
<head lang="en-GB">{{template "base/head" .}}</head>
<body>
	<header>
		<table>
			<tr>
				<td rowspan="2"><a href="/"><img src="/static/favicon.png" style="max-height: 24px"></a></td>
				<td><h1>{{.Title}}</h1></td>
			</tr>
			<tr><td></td></tr>
		</table>
	</header>
	<main>
		<form action="/repo/create" method="post">
			{{.CsrfField}}
			<table>
				<tr>
					<td style="text-align: right;"><label for="reponame">Name</label></td>
					<td><input type="text" name="reponame"></td>
				</tr>
				<tr>
					<td style="text-align: right; vertical-align: top;"><label for="description">Description</label></td>
					<td><textarea name="description"></textarea></td>
				</tr>
				<tr>
					<td style="text-align: right;"><label for="branch">Default Branch</label></td>
					<td><input type="text" name="branch" placeholder="master"></td>
				</tr>
				<tr>
					<td style="text-align: right;"><label for="visibility">Visibility</label></td>
					<td>
						<select name="visibility">
							<option value="public">Public</option>
							<option value="private" {{if .IsPrivate}}selected{{end}}>Private</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;"><label for="url">URL</label></td>
					<td><input type="text" name="url"></td>
				</tr>
				<!-- <tr>
					<td style="text-align: right;"><label for="username">Username</label></td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td style="text-align: right;"><label for="password">Password</label></td>
					<td><input type="password" name="password"></td>
				</tr> -->
				<tr>
					<td style="text-align: right;"><label for="mirror">Mirror</label></td>
					<td><input type="checkbox" name="mirror" value="mirror" {{if .IsMirror}}checked{{end}}></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Create">
						<a href="/" style="color: inherit;">Cancel</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td style="color: #AA0000">{{.Message}}</td>
				</tr>
			</table>
		</form>
	</main>
</body>
