<!DOCTYPE html>
<head lang="en-GB">{{template "base/head" .}}</head>
<body>
	<header>
		{{template "repo/header" .}}<hr>
		{{.File}} ({{.Size}}) {{.Mode}}
	</header><hr>
	<main>
		<table>
			{{if .Lines}}
				<tr>
					<td class="lnum" style="text-align: right;">
						<pre>{{range $i, $l := .Lines}}<a id="{{$i}}" href="#{{$i}}">{{$i}}</a>{{end}}</pre>
					</td>
					<td class="line">
						<pre>{{.Body}}</pre>
					</td>
				</tr>
			{{else}}
				<tr><td>Binary file</td></tr>
			{{end}}
		</table>
	</main>
</body>
