<table>
	<tr>
		<td rowspan="2"><a href="/"><img style="max-height: 24px;" src="/static/favicon.png"></a></td>
		<td><h1 style="display: inline;">{{.Name}}</h1></td>
	</tr>
	{{if .Description}}<tr><td>{{.Description}}</td></tr>{{end}}
	{{if .Mirror}}
		<tr>
			{{if .Description}}<td></td>{{end}}
			<td>Mirror of <a href="{{.Mirror}}">{{.Mirror}}</a></td>
		</tr>
	{{end}}
	<tr>
		{{if or (.Description) (.Mirror)}}<td></td>{{end}}
		<td>git clone <a href="{{.Url}}">{{.Url}}</a></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<a href="/{{.Name}}/log">Log</a>
			| <a href="/{{.Name}}/tree">Tree</a>
			| <a href="/{{.Name}}/refs">Refs</a>
			{{if .Readme}}
				| <a href="{{.Readme}}">README</a>
			{{end}}
			{{if .Licence}}
				| <a href="{{.Licence}}">LICENCE</a>
			{{end}}
			| <a href="/{{.Name}}/download">Download</a>
			{{if .Editable}}
				| <a href="/{{.Name}}/edit">Edit</a>
			{{end}}
		</td>
	</tr>
</table>
