<!DOCTYPE html>
<head lang="en-GB">{{template "base/head" .}}</head>
<body>
	<header>{{template "repo/header" .}}</header><hr>
	<main>
		<table class="highlight-row">
			<thead>
				<tr>
					<td><b>Date</b></td>
					<td><b>Message</b></td>
					<td><b>Author</b></td>
					<td><b>Files</b></td>
					<td><b>+</b></td>
					<td><b>-</b></td>
				</tr>
			</thead>
			<tbody>
				{{if .Commits}}
					{{range .Commits}}
						<tr>
							<td>{{.Date}}</a></td>
							<td><a href="/{{$.Name}}/commit/{{.Hash}}">{{.Message}}</a></td>
							<td>{{.Author}}</td>
							<td style="text-align: right;">{{.Files}}</td>
							<td style="text-align: right; color: #008800;">{{.Additions}}</td>
							<td style="text-align: right; color: #AA0000;">{{.Deletions}}</td>
						</tr>
					{{end}}
				{{else}}
					<tr><td colspan="6">No commits</td></tr>
				{{end}}
			</tbody>
		</table>
	</main>
</body>
