<!DOCTYPE html>
<html lang="en">
	<head>{{template "base/head" .}}</head>
	<body>
		<header>{{template "repo/header" .}}</header><hr>
		<main>
			<h2>Branches</h2>
			<table class="highlight-row">
				<thead>
					<tr>
						<td><b>Name</b></td>
						<td><b>Message</b></td>
						<td><b>Author</b></td>
						<td><b>Last Commit</b></td>
						<td><b>Commits</b></td>
					</tr>
				</thead>
				<tbody>
				{{range .Branches}}
					<tr>
						<td>{{.Name}}</td>
						<td><a href="/{{$.Name}}/commit/{{.Hash}}">{{.Message}}</a></td>
						<td>{{.Author}}</td>
						<td>{{.LastCommit}}</td>
						<td>{{.Commits}}</td>
					</tr>
				{{else}}
					<tr><td colspan="4">No branches</td></tr>
				{{end}}
				</tbody>
			</table>
			<br><h2>Tags</h2>
			<table class="highlight-row">
				<thead>
					<tr>
						<td><b>Name</b></td>
						<td><b>Message</b></td>
						<td><b>Author</b></td>
						<td><b>Last Commit</b></td>
					</tr>
				</thead>
				<tbody>
				{{range .Tags}}
					<tr>
						<td>{{.Name}}</td>
						<td><a href="/{{$.Name}}/commit/{{.Hash}}">{{.Message}}</a></td>
						<td>{{.Author}}</td>
						<td>{{.LastCommit}}</td>
					</tr>
				{{else}}
					<tr><td colspan="4">No tags</td></tr>
				{{end}}
				</tbody>
			</table>
		</main>
	</body>
</html>
