<!DOCTYPE html>
<head>{{template "base/head" .}}</head>
<body>
	<header>{{template "repo/header" .}}</header><hr>
	<main>
		<table>
			<thead>
				<tr>
					<td><b>Mode</b></td>
					<td><b>Name</b></td>
					<td><b>Size</b></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				{{if .Files}}
					{{range .Files}}
						<tr>
							<td>{{.Mode}}</td>
							<td><a href="/{{$.Name}}/tree/{{.Name}}">{{.Name}}</a></td>
							<td align="right" {{if .B}}style="padding-right: calc(2ch + 0.4em);"{{end}}>{{.Size}}</td>
							<td>log blame raw download</td>
						</tr>
					{{end}}
				{{else}}
					<tr><td colspan="4">No files</td></tr>
				{{end}}
			</tbody>
		</table>
	</main>
</body>
